.mainPageContainer {
  min-height: 110vh;
  height: auto;
  width: 100vw;
  background: url(/src/images/Rectangle48.png) no-repeat;
  background-size: 100vw 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainPageTextContainer {
  width: 70vw;
  min-height: 70vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foodAppText {
  color: #f7f7f7;
  letter-spacing: 0.1px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}
.quoteContainer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  color: #ffffff;
  display: flex;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 20px;
}
.downloadApp {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #f7f7f7;
  margin-top: 7px;
}
.downloadButtons {
  display: flex;
  flex-direction: row;
  gap: 2.25rem;
}
.downloadBtn1 {
  width: 14rem;
  height: 4rem;
  border-radius: 2rem;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: #ffffff;
}
#playStoreBtn {
  background: #fa4a0c;
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  border: none;
}
#appStoreBtn {
  border: 1px solid #ffffff;
  background-color: transparent;
}

#mainPgImg2{
  margin-top: -10%;
  border-bottom: 3px solid #E4E4E4;
}
#bellaOnjieLogin1{
  width: 100vw;
  min-height: 100vh;
  height: auto;
}
#bellaOnjieLoginInfo{
width: 39vw;
}
#mobileViewImg{
  display: none;
}

@media screen and (max-width: 767px) {
  .mainPageContainer{
    background-size: 0px;
  }
  .foodAppText{
color: #737373;
  }
  .quoteContainer{
    color: #252B42;
  }
  .downloadApp{
    color: #737373;
  }
  .downloadButtons{
flex-direction: column;
  }
  #appStoreBtn{
    border: 1px solid #FA4A0C;
    color: #FA4A0C;
  }
  #desktopViewImg{
    display: none;
  }
  #mobileViewImg{
    display: flex;
    justify-content: center;
  }
  #bellaOnjieLoginInfo{
    width: 100vw;
    align-items: center;
    }
.footerLogoImg{
  height: 0px;
  width: 0px;
}
#footerNavbar{
  flex-wrap: wrap;
}
.ImageCard{
  height: 90vh;
  width: 90vw;
}

}