#navbarContent ul li {
  width: 3rem;
  height: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
}
#mobileLogo{
  display: none;
}

@media screen and (max-width: 767px) {
  #desktopLogo{
    display: none;
  }
  #mobileLogo{
    margin: 10px;
  }
}
