.bellaOlonjeFooterImg {
  width: 100vw;
  min-height: 80vh;
  background-image: url(/src/images/Footer.png);
  background-repeat: no-repeat;
  background-size: 100vw 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.footerBtns {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}
#footerNavbar {
  height: 20vh;
}
#socialMedia {
  display: flex;
  gap: 1.25rem;
}
.copywright2022 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.1px;
  color: #5c5c5c;
}
